/* @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(#af67e9, #6565e7);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#faq {
  width: 65%;
  min-height: 450px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 30px;
}
