@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html {
  background: linear-gradient(#af67e9, #6565e7);
  min-height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#faq {
  width: 65%;
  min-height: 450px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3); /*https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

#faq .logo {
  position: relative;
  left: -120px;
  width: 50%;
  margin: 50px 0;
}

#faq .content {
  width: 40%;
  padding-bottom: 20px;
}

#faq .content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

#faq .items {
  list-style-type: none;
}

#faq .items .item {
  cursor: pointer;
  background-image: url(./imagens/icone-seta-pra-baixo.png);
  background-repeat: no-repeat;
  background-position: top 8px right 0;
  background-size: 12px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

#faq .items .item:last-child {
  border-bottom: none;
}

#faq .items .item .question {
  padding-bottom: 15px;
  transition: 0.2s ease;
  font-size: 18px;
  width: 90%;
}

#faq .items .item .question:hover {
  color: #f47c57;
}

#faq .items .item .answer {
  display: none;
  padding-bottom: 15px;
  font-size: 12px;
}

/* Items ativos */

#faq .items .item.active h2 {
  font-weight: 700;
}

#faq .items .item.active .answer {
  display: block;
}

#faq .items .item.active {
  background-image: url(./imagens/icone-seta-pra-cima.png);
}

/* Responsividade da aplicação */

@media (max-width: 1140px) {
  #faq {
    flex-direction: column;
    width: 90%;
  }

  #faq .content {
    width: 100%;
  }

  #faq .content h1 {
    font-size: 24px;
    text-align: center;
  }

  #faq .items {
    width: 80%;
    margin: 0 auto;
  }

  #faq .items .question {
    font-size: 16px;
  }

  #faq .logo {
    width: 40%;
    left: 0;
    margin: 30px 0;
  }
}

@media (max-width: 425px) {
  #faq {
    height: 540px;
  }
}
